    <!DOCTYPE html>
    <html>
    <head>
      <meta charset=utf-8 />
      <title> {% if page.title %} {{ page.title }} | {% endif %} Fannie's Sky </title>
      <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
      <div id="main">

        <header>
          <h1> Fannie's Sky</h1>

        <nav role="navigation">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sketch/">Sketch</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
        </header>

        {{ content }}

        <footer>
          <p>&copy; Fannie's Sky 2013 | All Rights Reserved. </p>
        </footer>

      </div>
      </body>
    </html>
